@import 'colors';

$theme_font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$font-size-16: 16px;
$font-size-40: 40px;
$font-size-32: 32px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-10: 10px;

$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-500: 500;
$font-weight-400: 400;

$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-12: 12px;
$border-radius-16: 16px;
$border-radius-20: 20px;
$border-radius-24: 24px;
$border-radius-28: 28px;

$margin-4: 4px;
$margin-8: 8px;
$margin-12: 12px;
$margin-16: 16px;
$margin-24: 24px;
$margin-32: 32px;
$margin-44: 44px;
$margin-54: 54px;
$margin-64: 64px;

$padding-4: 4px;
$padding-8: 8px;
$padding-14: 14px;
$padding-16: 16px;
$padding-24: 24px;
$padding-32: 32px;
$padding-44: 44px;
$padding-54: 54px;
$padding-64: 64px;

$shadow-1: 1dp;
$shadow-2: 2dp;
$shadow-3: 3dp;
$shadow-4: 4dp;
$shadow-5: 5dp;
$shadow-6: 6dp;
$shadow-8: 8dp;
$shadow-9: 9dp;
$shadow-12: 12dp;
$shadow-16: 16dp;
$shadow-24: 24dp;

$gap-4: 4px;
$gap-8: 8px;

$height-1: 1px;

